
/* Global Styles */

body {
    background-color: #dee2e6 ;
}

/* Pop Art Navbar */
.navbar, .navbar-custom {
    background-color: #2979FF;
    color: #FFFFFF;
}

/* Pop Art Footer */
footer {
    background-color: #2979FF;
    color: #FFFFFF;
}