@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

/* Global Styles */

body {
    background-color: #dee2e6;
}

/* Header and Footer Styles */
#main-header {
    background-color: #0044CC; /* Updated to a darker blue for better contrast */
    color: #ffffff; /* White text for better readability */
    padding: 10px 20px; /* Add some padding */
    font-family: 'Chicle', cursive; /* Apply the new font */
}

footer {
    background-color: #0044CC; /* Updated to a darker blue for better contrast */
    color: #ffffff; /* White text for better readability */
    padding: 10px 20px; /* Add some padding */
    font-family: 'Chicle', cursive; /* Apply the new font */
}

#nav-toggle {
    z-index: 1051;
    background-color: #5378d7;
}
