{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<footer id="footer" class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">
            {% block copyright %}
            ConstCollection
            {% endblock copyright %}
        </p>
        <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i>
            {% if user.is_authenticated %}
            <a class="ms-3 text-white" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a class="ms-3 text-white" href="{% url 'account_login' %}">Admin</a>
            {% endif %}
            
            
        </p>
    </footer>