   {% load static %}
   
   <header id="main-header" class="py-2 mb-4">
       <div class="container d-flex justify-content-between align-items-center">
           <a href="{% url 'art' %}" class="text-white text-decoration-none fs-4">ConstCollection</a>
           <a href="{% url 'art' %}">
               <img src="{% static 'images/copyright-const-collection.webp' %}" alt="Const Collection Logo"
                   class="img-fluid" style="height:40px;">
           </a>
       </div>
       {% if user.is_authenticated %}
       <div class="container">
            <a class=" text-white" href="{% url 'admin_panel' %}">Curator Panel</a>
       </div>
       {% endif %}
   </header>